.marquee {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .marquee__inner {
    display: inline-flex;
    animation: marquee 15s linear infinite; 
  }
  
  .marquee__item {
    display: inline-block;
    margin-right: 20px; 
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); 
    }
  }
  