.project-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
  }
  html {
    scroll-behavior: smooth;
  }
  /* Global Styles (e.g., in your App.css or a separate styles.css file) */

/* Global Styles (e.g., in your App.css or a separate styles.css file) */

html {
    scroll-behavior: smooth;
  }
  
  /* For WebKit browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(31, 31, 31, 0.8); /* Darker background for the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4caf50; /* Green color for the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
  }
  
  /* Optional: Change color on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #4caf50 rgba(31, 31, 31, 0.8); /* Green thumb on dark track */
  }
 /* styles.css */
 @keyframes blinking-border {
  0% {
    border-color: #38bdf8; /* light blue */
  }
  33% {
    border-color: #14b8a6; /* teal */
  }
  66% {
    border-color: #8b5cf6; /* purple */
  }
  100% {
    border-color: #38bdf8; /* light blue */
  }
}

.blinking-border {
  border-width: 2px;
  border-style: solid;
  animation: blinking-border 2s linear infinite;
}

.scroll-offset {
  scroll-margin-top: 80px;
}
@keyframes blink {
  0%,20%,40%,80%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    color: #e21179;
  }
}

.blink-animation {
  display: inline-block;
  animation: blink 2s  infinite;
}





  
  